@media only screen and (min-width: 320px) and (max-width: 600px) {
    .main-cont {
        width:100%;
        
    }
    .main-cont .f1 {
        display: block;
      }
      .main-cont .f2 {
        display: none;
      }
    .header-fixed{
        padding-top: 100px;
        padding-bottom: 16vh;
    }
    .down-header{
        -webkit-clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%);
                clip-path: polygon(0 22%, 100% 0, 100% 100%, 0 100%);
        margin-top: -12vh;
        padding: 16vh 0 22px 0;
    }
    .filters, .filter-games-button{
        z-index: 2;
    }
    .filters {
        width: 95%;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 10px -2px grey;
                box-shadow: 0 0 10px -2px grey;
        border: 2px solid #421782;
        position: fixed;
        margin: 0 10px;
        bottom: 0;
        display: none;
    }
    .inner-filters {
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .filters p {
        font-size: 11px;
        margin-left: 15px;
        margin-bottom: 0;
    }   
    .sidebar{
        width: 80%;
    } 
    .category, .time-group {
        width: 99%;
    }
    .category button, .filter-btn {
        padding: 0;
        font-size: 9px;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        height: 32px;
    }
    .category div {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .time-frame {
        -ms-flex-preferred-size: 63%;
            flex-basis: 63%;
    }
    .time-frame, .group-size {
        margin: 0;
    }
    .time-frame button, .group-size button {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    }
    .time-frame div, .group-size div {
        margin-left: 15px;
    }
    .group-size div {
        -ms-grid-column-align: start;
            justify-self: start;
    }
    .Menu {
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
        border-bottom: none;
        padding: 10px 0;
    }

    .menu{
        -ms-flex-preferred-size: 27%;
            flex-basis: 27%;
    }
    .menu-btn{
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 25px;
        margin-right: 0;
    }
        .assessment-btn, .menu-btn1, .menu-btn2{
        padding: 7px 16px;
        font-size: 10px;
    }
    .Menu .header-firstP {
        display: block;
        margin: 0 auto;
        padding: 0;
        font-size: 9px;
    }
    .main-cont .header-firstP {
        display: none;
    }
    .header {
        width: 80%;
    margin: 0 auto;

    }
    .header h1 {
        font-size: 20px;
        padding: 0px;
        }
     
        header p {
            margin-bottom: 0;
        }
        .games-list{
            margin-top: -12vh;
        }
    .games-list a {
        width: 100%;
    }
    .games-list a .game {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .game .img-game {
        display: none;
    }
    .game {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    .game .game-desc {
        border-radius: 5px;
    }
    .footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
                padding: 10px 0;
    }
    .footer-menu, .footer-logo, .footer-links{
        width: 100%;
    }
    .footer-links{ -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3;}
    .footer-links div a i {
        font-size: 19px;
    }
    .footer-menu {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
        margin: 5px 0;
        font-size: 13px;
    }

    .footer-logo{-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;}
    .logo-img {
        width:80px
    }
    .hideFilter{
        display: none;
    }
    .showFilter {
        display: block;
    }
    .render-game .title {
        font-size: 25px;
        margin-left: 15px;
    }
    .game-spec {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 90%;
    }
    .game-spec-categories {
        width: 100%;
    }
    .filter-btn {
        padding: 10px 0;
        font-size: 13px;
    }
    .filter-games-button, .filter-close-btn {
        width: 94%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-shadow: 0 0 10px -2px gray;
                box-shadow: 0 0 10px -2px gray;
        cursor: pointer;
        background-color: #fcd232;
        border-radius: 4px;
    }
    .filter-games-button{
        position: fixed;
        bottom: 10px;
        left: 10px;
    }
    .filter-close-btn {
        margin: 5px auto;
        padding: 3px;
    }

    .filter-games-button button, .filter-close-btn button  {
        background: transparent;
        border: none;
        font-weight: bold;
    }
    .filter-games-button span, .filter-close-btn span {
        margin: 7px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 600px) {
    .filter-games-button {
        width: 96%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px){
    .main-cont{
        width: 95%;
    }
   
    .games-list {
        width: 100%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        margin-top: 20px;
    }
    .games-list a {
        width: 33%;
    }
    .game {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
        margin: 5px;
    }
    
    .game-desc {
        padding-top: 10px;
    }
    .game-spec {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 95%;
        padding: 25px 5px 10px 5px;
    }
    .game-time-frame {
        font-size: 11px;

    }
    .game-minutes {
        font-size: 9px;
    }
    .game-txt {
        padding-left: 5px;
    }
    .img-icon {
        width: 30px;
        height: 30px;
    }
    .menu-btn1, .menu-btn2 {
        font-size: 9px;
    }
    .filters {
        width: 100%;
        position: fixed;
        bottom: 1px;
        border: 2px solid #421782;
        margin: 0;
        left: 0;
        display: none;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content
    }

    .header-firstP {
        padding: 10px;
        margin-top: 87px;
    }
    .header h1 {
        font-size:  22px;
        margin-bottom: 20px;
    }
    .assessment-btn {
        font-size: 11px;
    }
    .filters p {
        font-size: 13px;
    }
    .inner-filters{
        width: 100%;
        padding-left: 5px;
        margin: 0 5px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .category, .time-group {
        -ms-flex-preferred-size: 49%;
            flex-basis: 49%;
    }
    .time-group {
        margin-right: 10px;
    }
    .category button, .filter-btn {
        padding: 0;
        font-size: 9px;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
        height: 30px;
    }
    .time-frame, .group-size {
        margin-left: 0;
    }
    .hideFilter{
        display: none;
    }
    .showFilter {
        display: block;
    }
    .footer-menu a {
        font-size: 13px;
    }
    .sidebar {
        width: 50%;
    }
    .filter-btn {
        padding: 10px 0;
        font-size: 13px;
    }
    .filter-games-button, .filter-close-btn {
        width: 97%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-shadow: 0 0 10px -2px gray;
                box-shadow: 0 0 10px -2px gray;
        cursor: pointer;
        background-color: #fcd232;
        border-radius: 4px;
    }
    .filter-games-button{
        position: fixed;
        bottom: 10px;
        left: 14px;
    }
    .filter-close-btn {
        margin-bottom: 5px;
    }

    .filter-games-button button, .filter-close-btn button  {
        background: transparent;
        border: none;
        font-weight: bold;
    }
    .filter-games-button span, .filter-close-btn span {
        margin: 7px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 850px){
    .inner-filters {
        width: 95%;
    }
    .filters p {
        font-size: 11px;
        }
    .filter-btn {
        padding: 10px 0;
        font-size: 11px;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }
    .time-frame button {
        -ms-flex-preferred-size: 47%;
            flex-basis: 47%;
    }
}
@media only screen and (min-width: 850px) and (max-width: 1024px){
.sidebar{
    width: 30%;
}
.filter-btn {
    padding: 10px 0;
    font-size: 12px;
}
.filters p {
    font-size: 12px;
    }
    .category{
    -ms-flex-preferred-size:58%;
        flex-basis:58%;
    }
    .group-size {
    -ms-flex-preferred-size: 54%;
        flex-basis: 54%;
    }
    .group-size button {
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    }
}