

.main-cont{
  width:100%;
margin: 0 auto;
text-align: center;

 
}
.header-fixed {
-webkit-clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 69%, 0 100%);
background-color: #421782;
padding-bottom: 39vh;
}
.down-header{
-webkit-clip-path: polygon(0 46%, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 46%, 100% 0, 100% 100%, 0 100%);
  background-color: #421782;
  padding: 43vh 0 100px 0;
  margin-top:-27vh;
  
}
.main-cont .f1 {
display: none;
}
.main-cont .f2 {
display: block;
}